body {
  font-family:
    "Latin Modern Roman", "Latin Modern Math", "STIX Two Text", "STIX Two Math",
    "Cambria", serif;
  margin: 2em;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #333;
  padding: 0.5em 1em;
  text-align: left;
}

th {
  background-color: #eee;
}

.math {
  font-family: "Latin Modern Math", "STIX Two Math", "Cambria Math", serif;
  white-space: nowrap;
}

th:nth-child(1),
td:nth-child(1) {
  width: 18%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 32%;
  overflow-wrap: anywhere;
}

th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 15%;
  overflow-wrap: anywhere;
}

th:nth-child(5),
td:nth-child(5) {
  width: 15%;
}

.sources ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sources li + li {
  margin-top: 0.4em;
}
