body {
  font-family:
    "Latin Modern Roman", "Latin Modern Math", "STIX Two Text", "STIX Two Math",
    "Cambria", serif;
  margin: 2em;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}

th,
td {
  border: 1px solid #333;
  padding: 0.5em 1em;
  text-align: left;
}

th {
  background-color: #eee;
}

.math {
  font-family: "Latin Modern Math", "STIX Two Math", "Cambria Math", serif;
}
